.bai1 {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.bai2 {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}
.bai3 {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.bai4 {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}
.bai5 {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}


.bai6 {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}
.bai7 {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}
